{% extends 'mall/base.html' %}
{% block main_area %}
  <!-- contact section -->
  <section class="contact_section pt-5">
    <div class="container dark-grey-text mt-1 pt-4">
      <div class="row wow fadeIn pt-5">
        <div class="col-md-6 mb-4 pb-5">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form action="" method="post">
              {% csrf_token %}
              {{ form }}
              <div class="d-flex mt-4">
                <button type="submit" value="Submit" style="background-color: #929FBA; border-color: #929FBA">
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
{% endblock %}