{% extends 'mall/base.html' %}
{% block main_area %}
  <!-- contact section -->
  <section class="contact_section pt-5">
    <div class="container dark-grey-text mt-1 pt-4">
      <div class="row wow fadeIn pt-5">
        <div class="col-md-6 mb-4 pb-5">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <div>
              <br>
              <h4>Thank you for your inquiry</h4>
              <p>Your contact information and message was successfully submitted.</p>
              <a class="btn btn-md my-0 p"  style="background-color: #929FBA; border-color: #929FBA; color: white" href="/">Back to home</a>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
{% endblock %}
