<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/" target="_self">
      <strong class="blue-text">Da, GO!</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link waves-effect active" href="/"> HOME </a>
        </li>
        {% if request.session.user %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/contact/"> CONTACT </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/login/"> CONTACT </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/product/"> PROUDCT </a>
        </li>
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-contorl mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search-input">
          </div>
        </form>
      </ul>
      
      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          {% if request.session.user %}
          <a class="nav-link waves-effect" onclick="location.href='/cart/'">
          {% else %}
          <a class="nav-link waves-effect" onclick="location.href='/login/'">
          {% endif %}
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart
              <!--<span class="badge red z-depth-1"> 1 </span>-->
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link waves-effect" target="_self">
            <i class="fas fa-cog"></i>
            <span class="clearfix d-none d-sm-inline-block"> Settings </span>
          </a>
        </li>
        <li class="nav-item">
          {% if request.session.user %}
          <a href="/logout/" class="nav-link waves-effect" target="_self">
          <i class="fas fa-sign-out-alt"></i>
          <span class="clearfix d-none d-sm-inline-block">SIGN OUT</span>
          {% else %}
          <a href="/login/" class="nav-link waves-effect" target="_self">
          <i class="fas fa-sign-in-alt"></i>
          <span class="clearfix d-none d-sm-inline-block">SIGN IN</span>
          {% endif %}
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>