/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html, body {
  height: 100%; }

.contact_section {
  position: relative;
}

.contact_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.contact_section form {
  margin-top: 40px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
}

.contact_section input::-webkit-input-placeholder {
  color: #1c1b1b;
}

.contact_section input:-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section input::-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section input::placeholder {
  color: #1c1b1b;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 65px;
  background-color: #f0d43a;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f0d43a;
  color: #fff;
  margin-top: 10px;
}

.contact_section button:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.contact_section .img-box img {
  width: 100%;
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  position: relative;
  background-color: #929FBA; }
