{% extends "product/base.html" %}
{% load humanize %}
{% block header %}
<script>
    function product_detail(id){
        $.ajax({
            url: "/api/product/" + id,
            success: function (result) {
                $("#product-"+id).popover({
                    html:true,
                    content: result.name + "<br>" + result.price + "원"
                }).popover('show');
            }
        });
    }

    function product_leave(id){
        $("#product-"+id).popover('hide');
    }
</script>
{% endblock %}
{% block main_area %}

{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Graduate">
	<link rel="stylesheet" href="{% static 'css/list_style.css' %}" />
	<title>Login Page</title>
</head>

<div class="container">
    <div class="d-flex justify-content-center container mt-5 column3">
        <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
            {% for product in products %}
            <div class="about-product text-center mt-2"><img src={{ product.image_link }} width="300">
                <div>

                    <h4 class="mt-0 text-black-50">{{product.nickname}}</h4>
                    <h8 class="mt-0 text-black-50">{{product.name}}</h8>
                    <h6>
                        <td scope="row"><a id="product-{{product.id}}" onmouseenter="product_detail({{product.id}});" onmouseleave="product_leave({{product.id}});" href="{{product.id}}">{{product.test_id}}</a></td>
                    </h6>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between p-price"><span>Brand : </span><span>{{product.brand_name}}</span></div>
                <div class="d-flex justify-content-between p-price"><span>Category : </span><span>{{product.categories}}</span></div>
                <div class="d-flex justify-content-between p-price"><span>Pride : </span><span>{{product.price|intcomma}} 원</span></div>
                <div class="d-flex justify-content-between p-price"><span>Available : </span><span>{{product.stock}}</span></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{products.previous_page_number }}">이전으로</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">이전으로</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="#">{{products.number}}/{{products.paginator.num_pages}}</a>
                    </li>
                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{products.next_page_number }}">다음으로</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">다음으로</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}






